<h1>MIA Import Example</h1>
<input #inputFile type="file" (change)="onProcessFiles($event.target)" style="display: none;" accept="text/csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
<button (click)="onClickStart()">Start Import</button>
<button (click)="inputFile.click()">Seleccionar archivo</button>

<div *ngIf="isFileSelected">
  <table>
    <thead>
      <tr>
        <td *ngFor="let header of headers">
          <select>
            <option>None</option>
            <option *ngFor="let column of columns">{{ column.label }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td *ngFor="let header of headers">{{ header }}</td>
      </tr>
      <tr *ngFor="let item of dataExample">
        <td *ngFor="let header of headers; let i = index">
          {{ item[i] }}

          <span *ngIf="i == 2">{{ convertToDouble(item[i]) }}</span>
        </td>
      </tr>
    </thead>
  </table>

  <button (click)="onGenerate()">Generar importación</button>
</div>